<div class="report_container" id="<%= title_id %>">
  <h2>
    <span class="group_name"><%= title %></span>
    (
      <span class="blue">
        <strong><%= last_run[:actual_count] %></strong>
      </span> examples,
      <% if last_run[:duplicate_examples].positive? %>
        <span class="blue">
          <strong><%= last_run[:duplicate_examples] %></strong>
        </span> duplicates,
      <% end %>
      <% if last_run[:failed_examples].positive? %>
        <span class="red">
          <strong><%= last_run[:failed_examples] %></strong>
        </span> failures,
      <% end %>
      <% if last_run[:pending_examples].positive? %>
        <span class="yellow">
          <strong><%= last_run[:pending_examples] %></strong>
        </span> pending,
      <% end %>
      <span class="blue">
        <strong><%= last_run[:skipped_examples] %></strong>
      </span> skipped by rspec-tracer
    )
  </h2>

  <a name="<%= title_id %>"></a>

  <div class="report-table--responsive">
    <table class="report-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Location</th>
          <th>Run Reason</th>
          <th>Result</th>
          <th>Run At</th>
        </tr>
      </thead>

      <tbody>
        <% examples.each do |example| %>
          <tr>
            <td><%= example[:id] %></td>
            <td><%= example[:description] %></td>
            <td><%= example[:location] %></td>
            <td><strong class="<%= example_status_css_class(example[:status]) %>"><%= example[:status] %></strong></td>
            <td><strong class="<%= example_result_css_class(example[:result]) %>"><%= example[:result] %></strong></td>
            <td width="8%"><%= example[:last_run] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
