<div class="report_container" id="<%= title_id %>">
  <h2>
    <span class="group_name"><%= title %></span>
    (
      <span class="blue">
        <strong><%= files_dependency.count %></strong>
      </span> files
    )
  </h2>

  <a name="<%= title_id %>"></a>

  <div class="report-table--responsive">
    <table class="report-table">
      <thead>
        <tr>
          <th searchable="true">File</th>
          <th>Examples Count</th>
          <th>Files Count</th>
          <th data-orderable="false">Dependent Files</th>
        </tr>
      </thead>

      <tbody>
        <% files_dependency.each do |file_dependency| %>
          <tr class="t-example">
            <td><%= file_dependency[:name] %></td>
            <td class="number" width="8%"><strong><%= file_dependency[:example_count] %></strong></td>
            <td class="number" width="8%"><strong><%= file_dependency[:file_count] %></strong></td>
            <td><%= file_dependency[:files] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
